.header .logo {
  background:      url('img/logo.png') no-repeat !important;
  background-size: 100%;
  width:           52px;
  height:          25px;
  margin:          7px 5px;
  float:           left;
}
